body
    background-color: $body_color
.container
    display: flex
    padding-left: 20px
    padding-right: 20px
    max-width: 1220px

.btn
    display: flex
    justify-content: center
    align-items: center
    border-radius: 30px
    border: 2px solid $btn_color
    transition: all 0.3s
    font-size: 13px
    &_i
        margin-right: 8px
        width: 20px
        height: 18px
        background-image: url('../img/discount/supermarket.png')
        background-position: center center
        background-repeat: no-repeat
        background-size: contain
    &:hover
        color: $light_color
        background-color: darken($btn_color, 5%)
        border: 2px solid darken($btn_color, 5%)
    &:active
        background-color: darken($btn_color, 10%)
        border: 2px solid darken($btn_color, 10%)